.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/parallax1.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 85px 0 100px;
  @include fonts;
  .parallax-title {
    background: gray;
    line-height: 45px;
    font-size: 35px !important;
    margin-top: 15px !important;
    padding: 0 10px;
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    @include transition(all, 400ms);
  }
  .parallax-content {
    p {
      font-size: 18px;
      margin-top: 30px;
    }
  }
  .fadeInTop {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
}
.second {
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/aveda.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  .parallax-title {
    background: rgba(255,255,255,.1);
  }
}
.third {
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/presa.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  .parallax-title {
    background: rgba(255,255,255,.1);
    color: black;
  }
}
