.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/parallax1.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  @include fonts;
  .parallax-title {
    background: gray;
    line-height: 45px;
    font-size: 35px !important;
    margin-top: 5px !important;
    padding: 0 10px;
    display: inline-block;
  }
  .parallax-content
  {
    padding: 100px 0;
    p {
      font-size: 18px;
      margin-top: 30px;
    }
  }
}
.second {
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/aveda.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  .parallax-title {
    background: rgba(255,255,255,.1);
  }
}
.third {
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/presa.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  .parallax-title {
    background: rgba(255,255,255,.1);
    color: black;
  }
}
