$font-color: #f9f9f9;
$background-color: black;

@mixin fonts {
  color: $font-color;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@import 'parallax';

nav {
  background: $background-color;
  width: 100%;
  height: 88px;
  position: fixed;
  top: 0;
  z-index: 9;
  .logo {
    display: inline-block;
  }
  ul {
  margin-top: 32px;
  li {
    display: inline-block;
    a {
      @include fonts;
      font-size: 12px;
      display: inline-block;
      margin-left: 30px;
      font-weight: 600;
      &:hover {
        text-decoration: none;
        color: $font-color;
      }
    }
  }
}
}
.langing-image {
  background: url(../images/langing.jpg) top center no-repeat;
  background-size: cover;
  margin-top: 88px;
  height: calc(100vh - 88px);
  width: 100%;
}
.title {
  background: $background-color;
  width: 100%;
  margin: 0;
  padding: 0;
  h3 {
    @include fonts;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;

  }
}
.price-wrapper {
  margin: 50px 0;
}
.frizer {
  background: url('../images/frizer.png') top left no-repeat;
  text-indent: -1410980px;
  height: 220px;
}
.price-icons {
  min-height: 130px;
  float: none;
  margin: 0 auto;
  padding-left: 0 !important;
  span {
    display: inline-block;
  }
  svg {
    cursor: pointer;
  }
  i {
    position: relative;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms ;
    -ms-transition: all 400ms ;
    -o-transition: all 400ms ;
    transition: all 400ms ;
  }
}
.haircut{
  position: relative;
  top: 30px;
  left: 53px;
}
.chemistry {
  position: relative;
  top: 30px;
  left: 55px;
}
.rotate {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms ;
  -ms-transition: all 400ms ;
  -o-transition: all 400ms ;
  transition: all 400ms ;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.price-content {
  float: none;
  margin: 0 auto;
  text-align: center;
  img {
    padding-left: 10px;
  }
}
.thumbs {
  width: 100%;
  & > div {
    padding: 1px;
  }
  img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
